.about_titulo {
  font-size: var(--font-titulo);
  font-weight: var(--font-weigth);
  color: var(--cor-azul);
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 1.6rem;
  position: relative;
}

.about_borda {
  border-bottom: 4px solid var(--cor-azul);
  text-align: center;
  width: 100px;
}

.about_me {
  display: flex;
  padding: 0 10rem;
  justify-content: space-around;
}

.about_descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}


.about_texto {
  font-size: var(--font-text);
  font-family: var(--font-family);
  line-height: 1.6rem;
  padding-top: 1rem;
}


.about_subtitulo {
  font-size: var(--font-titulo);
  font-weight: var(--font-semi);
  color: var(--cor-preto);
  font-family: var(--font-family);

}

.about_imagem {
  width: 400px;
}

.about_foto {
  border-radius: 16px;
}

.about_botao{
  margin-top: 2rem;
  width: 200px;
  padding: 12px 0px;
  border-radius: 12px;
  background:var(--cor-azul);
  color:var(--cor-branco);
  border: none;
  font-size: var(--font-subtitulo);
  font-weight: var(--font-weigth);
  font-family: var(--font-family);
  text-align: center;
}

.bx-down-arrow-alt {
  color: var(--cor-branco);
  width: 16px;

}

@media screen and (max-width:1200px){
  .about_me {
    padding: 0 3rem;
  }

  .section {
    padding: 10rem 0 10rem 0;
  }

  .about_foto {
    margin: 80px 0 0 20px;

  }
}

@media screen and (max-width:698px) {
  .about_me {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about_texto {
    padding: 16px 20px 0 20px;
  }

  .about_descricao {
    text-align: center;
    align-items: center;
  }

  .about_subtitulo {
    margin-top: 2rem;
  }
}

@media screen and (max-width:600px) {
  .about_texto {
    padding: 16px 60px 0 60px;
  }
}

@media screen and (max-width:550px) {
  .about_descricao {
    width: 350px;
  }
  
  .about_texto {
    font-size: 20px;
    line-height: 20px;

  }
  
  .about_foto {
    width: 350px;
    margin: 0;
  }

  .about_imagem {
    width: 340px;
  }
}