.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2rem 0;
}

.contato_container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contato_titulo {
  font-size: var(--font-titulo);
  font-weight: var(--font-weigth);
  color: var(--cor-azul);
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 1.6rem;
  position: relative;
}

.contato_texto {
  text-align: center;
  font-size: var(--font-text);
  font-family: var(--font-family);
  line-height: 1.6rem;
  padding: 2.5rem 0 3rem 0;
}

.contato_b {
  margin: 0 2rem;
  display: flex;
  align-items: center;
}

.contato_b > i {
  width: 24px;
  padding-left: 8px;
  color: var(--cor-azul);
  
}

.contato_b > a {
  color: var(--cor-branco);
}


.contato_botao {
  margin-top: 2rem;
  width: 200px;
  padding: 12px 0px;
  border-radius: 12px;
  background:#0f1116;
  color:var(--cor-azul);
  border: 0.1rem solid var(--cor-azul);
  font-size: var(--font-subtitulo);
  font-weight: var(--font-weigth);
  font-family: var(--font-family);
  text-align: center;
  box-shadow: 0 4px 4px rgba(14, 36, 49, 0.15);
  align-items: center;
}

.contato_botao-link {
  margin-top: 6rem;
  width: 200px;
  border-radius: 5px;
  background:#0f1116;
  color:var(--cor-azul);
  font-size: var(--font-subtitulo);
  font-weight: var(--font-weigth);
  font-family: var(--font-family);
  text-align: center;
  box-shadow: 0 3px 3px rgba(14, 36, 49, 0.15);
  align-items: center;
  border: none;
}


.bx-up-arrow-alt{
  color: var(--cor-branco);
}

.link_up {
  color: var(--cor-azul);
  font-size: var(--font-subtitulo);
  font-family: var(--font-family);  
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .contato_b {
    margin: 0 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .contato_container {
    display: flex;
    flex-direction: column;
  }
}

