.home {
  padding: 14rem 4rem 4rem 4rem;
  display: flex;
  justify-content: space-evenly;
}

.home_me {
  width: 700px;
}

.home_titulo {
  font-size: var(--font-titulo-destaque);
  font-family: var(--font-family);
  line-height: 6rem;
  font-weight: var(--font-weigth);
}

.home_nome {
  color: var(--cor-azul);
}

.home_botao {
  margin-top: 2rem;
  width: 200px;
  padding: 12px 0px;
  border-radius: 12px;
  background:var(--cor-azul);
  color:var(--cor-branco);
  border: none;
  font-size: var(--font-subtitulo);
  font-weight: var(--font-weigth);
}

.home_botao:hover {
  background: var(--cor-azul-escuro);
  color: #ffffff;
  transition: 1s;
  box-shadow: #000;
}

.home_marcas {
  width: 150px;
  display: flex;
  margin-top: 30px;
}

.home_foto {
  width: 500px;
  
}

.button_link-1 {
  color: var(--cor-branco);
}

@media only screen and (min-width: 769px) {
  .home {
    padding: 10rem 2rem 4rem 3rem;

  }
  
  .home_titulo {
    font-size: 3.4rem;
    line-height: 5rem;
  }

  .home_foto {
    width: 700px;
    
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .home {
    padding: 14rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    
  }

  .home_titulo {
    font-size: 3.2rem;
    font-family: var(--font-family);
    line-height: 5rem;
    font-weight: var(--font-weigth);
    text-align: center;
  }

  .home_me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home_foto {
    width: 400px;
    margin-bottom: 2rem;
    
  }
}


@media only screen and (max-width: 600px) {
  .home {
    padding: 10rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    
  }

  .home_titulo {
    font-size: 2.1rem;
    font-family: var(--font-family);
    line-height: 3rem;
    /* font-weight: var(--font-weigth); */
    text-align: center;
  }

  .home_me {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home_foto {
    width: 300px;
    margin-bottom: 1rem;
    
  }
}
