.home {
  padding: 12rem 4rem 14rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_me {
  width: 700px;
  text-align: center;
}

.home-img {
  width: 600px;

}

.minhaFoto {
  width: 600px;
  box-shadow:0 1px 15px var(--cor-azul);
  border-radius: 100%;
}

.home_topo {
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 4rem;
  margin-top: 8rem;
}




.home_titulo {
  font-size: var(--font-titulo-destaque);
  font-family: var(--font-family);
  line-height: 6rem;
  font-weight: var(--font-weigth);
}

.home_nome {
  color: var(--cor-azul);
}

.home_botao {
  margin-top: 2rem;
  width: 200px;
  padding: 12px 0px;
  border-radius: 12px;
  background: var(--cor-azul);
  color: var(--cor-branco);
  border: none;
  font-size: var(--font-subtitulo);
  font-weight: var(--font-weigth);
}

.home_botao:hover {
  background-color:#00b4c1d5;
  transition: 2s;
}

.home_marcas {
  width: 150px;
  display: flex;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
}

.home_foto {
  width: 500px;

}

.button_link-1 {
  color: var(--cor-preto);
}

@media screen and (max-width:900px) {
  .home {
    padding: 14rem 3rem 4rem 3rem;
  }


  .home_titulo {
    line-height: 4.5rem;
  }
}

@media screen and (max-width: 769px) {
  .home {
    display: flex;
    padding: 8rem 3rem 4rem 3rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .home_foto {
    width: 400px;
    text-align: center;

  }

  .home_marcas {
    display: none;
  }

  .home_me,
  .home_marcas {
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }
}

@media screen and (max-width:698px) {
  .home_titulo {
    font-size: 3.5rem;
  }

  .home_foto {
    width: 350px;
    text-align: center;

  }
}

@media screen and (max-width:600px) {
  .home_titulo {
    font-size: 3.2rem;
  }
}

@media screen and (max-width:550px) {
  .home_titulo {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-top: 2rem;
  }

  .home-img {
    width: 340px;
    text-align: center;
  }
}

@media screen and (max-width:430px) {
  .home_titulo {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 340px;
    
  }

  .home_me {
    width: auto;
  }
  .home-img {
    width: 340px;
  }

}