.navegacao {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100vw;
  height: 70px;
  padding: 0 4.6rem;
  position: fixed;
  background-color: #0f1116;
  z-index: 1;
  color: #ffffff;
}

.navegacao_titulo {
  width: 100px;
  font-size: var(--font-titulo);
  font-family: var(--font-family);
  color: var(--cor-secundaria);
  font-weight: var(--font-weigth);
}

.navegacao_titulo--ponto {
  color: var(--cor-azul);
  padding-left: 0.232rem;
  font-size: 3rem;
}

.navegacao_descricao {
  display: flex;
  width: 500px;

}

.conhecimentos{
  padding: 0 16px;
}

.projec {
  padding-right: 16px;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--cor-azul);
  transform: 3s;
}

.nav_descricao--link {
  position: relative;

}

.nav_descricao--link:hover {
  color: var(--cor-azul);
  position: relative;
}

.nav_descricao--link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--cor-azul);

}

.bx:hover {
  color:#00b4c1d5;
  transition: 0.5s;
}


a,
ul {
  text-decoration: none;

}

.nav_descricao--link {
  font-family: var(--font-family);
  font-size: var(--font-subtitulo);
  color: var(--cor-secundaria);
  font-weight: var(--font-semi);
  /* transition: 3s;
  transform: 2s; */
}


.bxl-discord,
.bxl-instagram,
.bxl-linkedin-square,
.bx-envelope{
  font-size: var(--font-titulo);
  color: var(--cor-azul);
  font-family: var(--font-family);
}

@media screen and (max-width:900px) {
  .navegacao_descricao {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navegacao_titulo--ponto {
    padding: 0;
  }

  .navegacao_titulo {
    width: auto;
  }
}