.projetos {
  padding: 16em 0 16rem 0;
  /* height: auto; */
}

.projetos_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
}


.pojetos_titulo {
  font-size: var(--font-titulo);
  font-weight: var(--font-weigth);
  color: var(--cor-azul);
  font-family: var(--font-family);
  text-align: center;
  /* margin: 1.6rem; */

  position: relative;
}

.projetos_imagens {
  padding-top: 4rem;
  text-align: center;
}


.projeto {
  border-radius: .5rem;
  width: 500px;
  height: 280px;
  transform: 1s;
  cursor: pointer;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.projeto:hover {
  transform: scale(1.1);
}

.projeto-link {
  width: 500px;
  
}



.skills_botao {
  margin-top: 2rem;
  width: 200px;
  padding: 12px 0px;
  border-radius: 12px;
  background: var(--cor-azul);
  color: var(--cor-branco);
  border: none;
  font-size: var(--font-subtitulo);
  font-weight: var(--font-weigth);
  margin: 0 auto;}

  @media screen and (max-width:1805px) {
    .projetos_container {
      flex-direction: column;
    }
  }

@media screen and (max-width:1300px) {
  .projetos_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
  }
  
  .projetos_imagens {
    width: 450px;
  
  }
}

@media screen and (max-width: 1100px) {
  .projetos_container  {
    flex-direction: column;
    align-items: center;
  }

  .projetos_imagens {
    width: 350px;
  
  }

  .projeto {
    width: 400px;
    text-align: center;
  }
}

@media screen and (max-width:698px) {
  .projetos_imagens {
    text-align: center;
    margin: 0 auto;
  }
  
  .projetos_container {
    align-items: center;
  }

  .projeto {
    width: 400px;
  }


}

@media screen and (max-width:530px) {
  .projeto {
    width: 340px;
  }

  .projetos_container {
    padding: 0 1rem 0 0.5rem;
  }

  .projetos_imagens {
    width: 340px;
  
  }

  .pojetos_titulo {
  margin: 1.6rem 0 1.6rem 0;
  
  }

}